.brand {
  display: flex;
  gap: 15px;
}

.icon {
  text-decoration: none;
  width: 50px;
  height: 50px;
}

.icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  color: antiquewhite;
  margin-top: 4px;
}

.button {
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(60, 53, 53);
  border-color: rgb(60, 53, 53);
}

.button span {
  display: block;
  margin: 2px;
  width: 1rem;
  height: 3px;
  background-color: antiquewhite
}

.nav-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nav {
  display: none;
}

@media (min-width: 712px) {
  .button {
    display: none;
  }

  .nav {
    display: block;
  }
}
